body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

button:focus {
  border: none;
  outline: none;
}

section {
  width: 100vw;
  height: 100vh;
  padding: 60px;
  background: linear-gradient(to right, #10094d 0%, #22597e 51%, #10094d 100%);
}

.contenedor {
  background: #fff;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  box-shadow: 0 0 15px rgba(0, 0, 0, 7);
  overflow: hidden;
}

.img-container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: seagreen;
  margin-left: 20%;
}

.img-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: red;
  object-fit: cover;
}

.contenedor_contenido {
  position: relative;
  display: flex;
  width: 90%;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
}

.contenedor_error {
  position: absolute;
  bottom: -60px;
  left: 0;
  background: crimson;
  color: #fff;
  width: 100%;
  height: 60px;
  text-align: center;
  font-size: 1.2em;
  transition: all .5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, -7);
}

.mostrar-error {
  bottom: 0;
}

.contenedor_form {
  width: 55%;
}

.contenedor_contenido h2 {
  color: #525252;
  font-weight: 500;
  font-size: 1.6em;
  text-transform: uppercase;
  margin-bottom: 20px;
  border-bottom: 3px solid #14496d;
  display: inline-block;
}

.input {
  margin-bottom: 20px;
}

.input span {
  font-size: 1em;
  display: inline;
  font-weight: 300;
  letter-spacing: 1px;
}

.input input, .input button {
  width: 100%;
  padding: 12px 20px;
  font-weight: 400;
  border: 1px solid rgb(211, 210, 210);
  font-size: 1em;
  letter-spacing: 1px;
  color: #575f63;
  background: #f5f4f4;
  border-radius: 20px;
}

.input button {
  background: linear-gradient(to right, #10094d 0%, #22597e 51%, #10094d 100%);
  border: none;
  font-weight: 500;
  cursor: pointer;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

@media screen and (max-width:768px) {
  section {
    padding: 10px;
  }
  .img-contenedor {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
  }
  .contenedor_contenido {
    width: 100%;
    height: 100%;
    z-index: 3;
  }
  .contenedor_form {
    width: 100%;
    padding: 25px;
    background: rgba(255, 255, 255, -5);
  }
}

.user {
  outline: none;
}

.password {
  outline: none;
}

.button_log {
  outline: none;
}

.div-login {
  width: 50vw;
  height: 24vh;
  background-color: red;
  /* centrar vertical y horizontalmente */
  position: absolute;
  top: 30%;
  left: 30%;
  margin: -25px 0 0 -25px;
  /* aplicar a top y al margen izquierdo un valor negativo para completar el centrado del elemento hijo */
}

.bt-margin {
  margin-left: 100px;
  margin-top: 14px;
}

/* Navbar*/

.nav-box-1 {
  width: 85%;
  height: 90px;
  padding: 0 60px;
  background: #494949;
  font-size: 30px;
}

.s-bar {
  color: blue;
  font-size: 50px;
  padding: 25px 60px;
}

.bg-success {
  background: white;
  width: 85%;
  height: calc(100vh - 90px);
  bottom: 0;
  right: 0;
}

.yt-img {
  width: 100px;
  height: 40px;
  padding-left: 15px;
}

.yt-bars {
  font-size: 25px;
  margin-right: 15px;
}

.nav-box-2 {
  width: 100%;
  height: 60px;
  background: #FFFFFF;
}

/*--------------Menu aside-*/

.aside {
  width: 15%;
  overflow: auto;
  height: 100vh;
  background: #868686;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.menuV {
  width: 100%;
}

.menuV a {
  text-decoration: none;
  padding: 10px;
  color: black;
  display: block;
}

.menuV a:hover {
  background-color: grey;
}

hr {
  margin: 5px 0 5px 0;
}

/*----------------------------clases comunes-----------------------------*/

a {
  color: #606060;
}

p {
  font-size: 14px;
}

.fas {
  color: #606060;
}

.red {
  color: red;
}

.m-right-28 {
  margin-right: 28px;
}

.p-aside {
  padding: 0 24px;
}

.f-size-14 {
  font-size: 14px;
}

.f-size-25 {
  font-size: 25px;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.f-wrap {
  flex-wrap: wrap;
}

.aling-center {
  align-items: center;
}

.j-content-center {
  justify-content: center;
}

.div p:hover {
  color: white;
}

.list-project {
  background: white;
  width: 100%;
  height: 100%;
  padding: 50px 50px;
}

.project-name {
  width: 100%;
  padding: 12px 20px;
  font-weight: 400;
  border: 1px solid rgb(211, 210, 210);
  font-size: 1em;
  letter-spacing: 1px;
  color: #575f63;
  background: #f5f4f4;
  border-radius: 20px;
}

.section-project {
  background-color: white;
  width: 100%;
  height: calc(100vh - 90px);
}

.input-list-project1 {
  margin-right: 0;
}

.input-list-project {
  margin-left: 50px;
}